
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    color: red;
    font-size: 64px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-shadow: 10px 10px 5px gray;
}

p {
    color: blue;
    font-size: 30px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    line-height: 50px;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}