

.box {
    width: 50px;
    height: 50px;
    background-color: #FF1493;
    padding: 50px;
    margin: 30px;
}

.box-2 {
    width: 50px;
    height: 50px;
    background-color: #00EEEE;
    padding: 50px;
    margin: 30px;
}  

.box-3 {
    width: 50px;
    height: 50px;
    background-color: #FFD700;

    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 5px;

    margin: 10px 5px 20px 30px; /* top, right, bottom e left */

    padding: 30px 80px 20px; /* top, both and bottom */

    margin: 10px 5px; /* top and bottom, both */
}