

h1 {
            color: greenyellow;
            background: black;
        }

        p {
            color: blue;
            font-size: 20px;
        }

        button {
            background-color: green;
            border-color: red;
        }