*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 32px 0 140px 40px;
}

.link-header {
    font-weight: 400px;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    width: 124px;
    height: 51px;
    background: #6FBF44;
    border-radius: 7px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

.logo-image {
    width: 595.18px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block; 
    margin-left: 80px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    width: 582px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    width: 493px;
    margin-top: 24px;
    margin-bottom: 100px;
}

.button-main {
    width: 112px;
    height: 27px;
    background: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #6FBF44;
    cursor: pointer;
}