* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

input {
    border: 1px solid red;
    color: blue;
}

input::placeholder {
    color: pink;
}

p {
    color: green;
}

p::first-letter {
    color: orange;
}

p::first-line {
    color: purple;
}

a {
    color: blue;
}

a::before {
    content: "😎";
}
a::after {
    content: "🚀";
}