* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-principal {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
    margin-right: 32px;
    cursor: pointer;
}

.button-sign-up {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

img {
    margin: 60px 0 0 60px;
    display: inline-block;
}

div {
    display: inline-block;
    width: 493px;
    margin-left: 70px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-learn-more {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;  
    cursor: pointer;
    background: transparent;
    border: none;
}

@media screen and (max-width: 900px) {
    .link-principal {
        display: none;
    }

    .button-sign-up {
        width: 91px;
        height: 31px;
        border-radius: 6px;
        font-size: 12px;
        position: relative;
        top: -26px;
        right: -70%;
    }

    img {
        position: relative;
        top: 480px;
        margin: 0 auto;
        max-width: 90%;
        display: block;
    }

    div {
        display: block;
        width: 90%;
        margin: 0 auto;
        height: auto;
        position: relative;
        top: -400px;
        text-align: center;
    }

    h1 {
        font-size: 30px;
        line-height: 30px;
        width: auto;
        text-align: center;
        margin: 124px 55px 0 55px;
    }

    p {
        margin: 29px 40px;
        width: auto;
        text-align: center;
        font-size: 18px;
        line-height: 33px;
    }

    .button-learn-more {
        display: block;
        margin: 0 auto;
        font-size: 14px;
}
   
}