@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 40px 0 50px 70px;
}

.link-header {
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 25px;
}

.button-header {
    width: 130px;
    height: 40px;
    background: #665AE1;
    border-radius: 20.5px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
}

img {
    display: inline-block;
    width: 568px;
    height: 500px;
    margin-left: 80px;
}

section {
    display: inline-block; 
    margin-left: 80px;
    width: 540px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 150px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 70px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 515px;
}

.button-main {
    width: 239px;
    height: 64px;
    background: #ADFF00;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}

@media screen and (max-width: 800px) {
    header {
        display: none;
    }

    img {
        position: relative;
        top: 100px;
        display: block;
        margin: 0 auto;
        max-width: 90%;
        height: auto;
    }

    p {
        display: none;
    }

    section {
        display: block;
        width: 90%;
        margin: 0 auto;
        height: auto;
        position: relative;
        top: 150px;
        text-align: center;
    }

    h1 {
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        width: auto;
        text-align: center;
    }
    
    h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        width: auto;
        text-align: center;
        margin: 13px 0 16px 0px;
    }

    .button-main {
        display: block;
        margin: 0 auto;
    }

}